<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-login-form/1.0.0/bootstrap-login-form.min.css"
    integrity="sha512-Dzi0zz9zCe2olZNhq+wnzGjO5ILOv8f/yD6j8srW+XGnnv9dUN04eEoIdVHxQqiy8uBn21niIWQpiCzYJEH3yg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>


  <!-- <form method="post">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                  <input class="input" name="userName" type="text"  placeholder="Type your username...." >
                </div>
              </div>     
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input class="input" name="password"  type="password" placeholder="At least 6 characters" >
                </div>  
              </div>  
            <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Login</button>
                </div>
            </div>
            </form> -->
  <div class="body-main">

    <% if(success_msg !='' ){ %>
      <article class="message is-danger is-small">
        <div class="alert alert-success alert-dismissible" role="alert">
          <%= success_msg %>
        </div>
      </article>
      <% } %>

        <div class="container">


          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                  <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block" style="align-items: center; margin-top: 190px;">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/FIFA_Logo_%282010%29.svg"
                        alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                      <div class="card-body p-4 p-lg-5 text-black">

                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          <span class="h1 fw-bold mb-0">Welcome</span>
                        </div>

                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account
                        </h5>

                        <form method="post">
                          <div class="field">
                            <div class="control form-outline mb-4">
                              <input name="userName" type="text" required placeholder="Type your username...."
                                id="form2Example17" class="input form-control form-control-lg" />
                              <label class="form-label" for="form2Example17">User Name</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="control form-outline mb-4">
                              <input name="password" type="password" id="form2Example27"
                                class="input form-control form-control-lg" />
                              <label class="form-label" for="form2Example27">Password</label>
                            </div>
                          </div>
                          <div class="field">
                            <!-- <div class="control pt-1 mb-4">
                                    <button name="button" class="button is-link btn-dark btn-lg btn-block"
                                      type="button">Login</button>
                                  </div> -->
                            <div class="control pt-1 mb-4">
                              <button name="button"
                                class="button is-link is-link btn-dark btn-lg btn-block">Login</button>
                            </div>
                          </div>
                        </form>
                        <% if(success_msg !='' ){ %>
                          <article class="message is-danger is-small">
                            <%= success_msg %>
                              <% } %>
                                <% if(error_msg !='' ){ %>
                                  <div class="alert alert-danger alert-dismissible" role="alert">
                                    <%= error_msg %>
                                  </div>
                                  <% } %>

                                    <% if(error !='' ){ %>
                                      <div class="alert alert-danger alert-dismissible" role="alert">
                                        <%= error %>
                                      </div>
                          </article>
                          <% } %>

                            <a class="small text-muted" href="#!">Forgot password?</a>
                            <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/users"
                                style="color: #393f81;">Register here</a></p>
                            <a href="#!" class="small text-muted">Terms of use.</a>
                            <a href="#!" class="small text-muted">Privacy policy</a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</body>

</html>
<style>
  html,
  body {
    height: 100%;
    width: 100%;
  }

  .body-main {
    background-image: url("https://bi.im-g.pl/im/54/0b/1a/z27311700IER,FIFA-22.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
</style>